@media (max-width: 700px) {


header {
    position: relative;
}
header nav {
    position: absolute;
    top: 70px;
    background-color:rgb(228, 213, 204);
    width: 100%;}

.menu-icon {
    display: block;
    color:darkslategray;
    font-size: 20px;
}

header nav li {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
}

@media (min-width: 700px){
    header nav {
        display: block !important;       
    }
}